<label for="serverName">Server Name using (ngModel)</label>
<input type="text" id="serverName" class="form-control" [(ngModel)]='serverName'>

<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<p *ngIf="serverCreated; else noServer">{{serverCreationStatus}}</p>
<ng-template #noServer><p>No server created!</p></ng-template>
<app-server *ngFor="let server of servers"></app-server>

<ul>
    <li *ngFor="let server of servers; let i = index">{{i}} {{server}}</li>
</ul>